.form {
    width: 1440px;
    height: 481px;
    margin: 0 auto;
    margin-bottom: 150px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

    font-family: 'Poppins';
    font-style: normal;

    // background: cadetblue;
}

.form_block {
    display: flex;
    width: 1299px;
    height: 481px;
    margin: 0 auto;

    // background: rgb(173, 173, 147);
}

.image {
    width: 530px;
    height: 481px;

    // background: rgb(115, 208, 211);
}

.form_value {
    width: 769px;
    height: 481px;

    // background: rgb(60, 170, 214);
    & p {
        margin: 44px 0 24px 39px;
        font-weight: 700;
        font-size: 24px;
        line-height: 41px;

        color: #056088;
    }
    & .block_form {
        width: 696px;
        height: 337px;
        margin-left: 39px;

        // background:rgb(177, 250, 177);
        & form {
            width: 100%;
            height: 100%;
            & input, textarea {
                font-weight: 500;
                font-size: 16px;
                line-height: 27px;
                padding-left: 10px;
                border: none;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

                color: rgba(0, 0, 0, 0.4);
            }
            & div input:nth-child(1) {
                width: 340px;
                height: 50px;
                margin-right: 16px;
            }
            & div input:nth-child(2) {
                width: 340px;
                height: 50px;
            }
            & .input_message {
                width: 696px;
                height: 183px;
                margin-top: 16px;
            }
            & button {
                width: 138px;
                height: 72px;
    
                font-weight: 500;
                font-size: 16px;
                line-height: 27px;
                cursor: pointer;
                
                color: #FFFFFF;
                background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
            }
        }
    }
}