.footer {
    width: 100%;
    height: 380px;

    background: #023957;
}

.block {
    // display: flex;
    width: 1440px;
    height: 380px;
    margin: 0 auto;
    padding-top: 60px;

    // background: wheat;
}

.info {
    display: flex;
    width: 1100px;
    height: 246px;
    margin: 0 auto;
    

    // background:#023957;
    .bl_one {
        width: 180px;
        height: 246px;

        font-family: 'Roboto';
        font-style: normal;
        // background: firebrick;
        & p:first-child {
            font-weight: 700;
            font-size: 20px;
            // line-height: 77px;
            margin-bottom: 16px;
 
            color: #FFFFFF;
        }
        & p:nth-child(2) {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 32px;

            color: #FFFFFF;
        }
        button {
            width: 158px;
            height: 72px;
            font-weight: 500;
            font-size: 16px;
            line-height: 27px;
            cursor: pointer;
            
            color: #FFFFFF;
            background: linear-gradient(104.58deg, #056088 10.57%, #09A7CA 96.62%);
        }
    }
    .menu {
        display: flex;
        justify-content: space-between;
        width: 771px;
        margin-left: 148px;
        margin-top: 18px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 41px;

        color: #FFFFFF;
    }
}