@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    border: none; 
    outline: none;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a {
    text-decoration: none;
    outline: none;
    color: white;
}
/* a:hover {
    text-decoration: underline;
    outline: none;
    color: #fff;
    font-size: 18px;
} */